.calls_container {
    margin-top: 50px;
    color: white;
    box-shadow: 5px 8px 20px 5px rgba(0, 0, 0, 0.55);

    table {
        background-color: #2e2e2e;

        th {
            font-weight: 600;
        }

        tr {
            cursor: pointer;
        }

        th,
        td {
            color: white;
            padding: 12px 24px;
        }
    }
}